
.div-cards {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .div-alturas {
    display: flex;
} */